<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo de ExoVisor</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white">

    <!-- Encabezado -->
    <header class="bg-gray-800 text-white py-6">
        <h1 class="text-center text-3xl font-bold">Conoce a Nuestro Equipo</h1>
    </header>

    <!-- Contenido principal -->
    <main class="container mx-auto mt-10">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Miembro 1 -->
            <div class="bg-white bg-opacity-10 shadow-lg rounded-lg overflow-hidden">
                <img src="../static/vanessa.jpg" alt="Miembro 1" class="w-full h-80 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-semibold">Vanessa Valeria Villa Susman</h2>
                    <p class="text-gray-300">Graduada en Marketing</p>
                </div>
            </div>

            <!-- Miembro 2 -->
            <div class="bg-white bg-opacity-10 shadow-lg rounded-lg overflow-hidden">
                <img src="../static/lucia.jpg" alt="Miembro 2" class="w-full h-80 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-semibold">Lucía Conejero San Nicolás</h2>
                    <p class="text-gray-300">Data Scientist & Business Intelligence</p>
                </div>
            </div>

            <!-- Miembro 3 -->
            <div class="bg-white bg-opacity-10 shadow-lg rounded-lg overflow-hidden">
                <img src="../static/vane.jpg" alt="Miembro 3" class="w-full h-80 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-semibold">Vanessa Machordom Torres</h2>
                    <p class="text-gray-300">Estudiante de Ingeniería Informática en UPV</p>
                </div>
            </div>

            <!-- Miembro 4 -->
            <div class="bg-white bg-opacity-10 shadow-lg rounded-lg overflow-hidden">
                <img src="../static/francisco.jpg" alt="Miembro 4" class="w-full h-80 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-semibold">Francisco Collado</h2>
                    <p class="text-gray-300">Físico: Anticipando el futuro para cuando impacte el Apophis</p>
                </div>
            </div>

            <!-- Miembro 5 -->
            <div class="bg-white bg-opacity-10 shadow-lg rounded-lg overflow-hidden">
                <img src="../static/gabri.jpg" alt="Miembro 5" class="w-full h-80 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-semibold">Gabriel Sanchez Dos Santos</h2>
                    <p class="text-gray-300">Estudiante de Ingeniería Informática en UPV</p>
                </div>
            </div>

            <!-- Miembro 6 -->
            <div class="bg-white bg-opacity-10 shadow-lg rounded-lg overflow-hidden">
                <img src="../static/carlos.jpg" alt="Miembro 6" class="w-full h-80 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-semibold">Carlos Santana Franco</h2>
                    <p class="text-gray-300">Estudiante de 1ro de bachillerato en British School Alzira</p>
                </div>
            </div>

            <!-- Miembro 7 -->  
        
            <div class="bg-white bg-opacity-10 shadow-lg rounded-lg overflow-hidden">
                <img src="../static/guillermo.jfif" alt="Miembro 7" class="w-full h-80 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-semibold">Gillermo Gil Salgado</h2>
                    <p class="text-gray-300">Estudiante de Ingeniería Aeroespacial en UPV</p>
                </div>
            </div>
         
            
        </div>

        <!-- Botón Volver debajo del último miembro -->
        <div class="mt-10 text-center">
            <a href="/" class="bg-blue-800 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded">Volver a Inicio</a>
        </div>
    </main>

    <!-- Pie de página -->
    <footer class="bg-gray-800 text-white py-4 mt-10">
        <div class="container mx-auto text-center">
            <p>© 2024 ExoVisor. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>


